USE [master]
GO
/****** Object:  Database [DSS_update]    Script Date: 11.01.2022 14:44:21 ******/
CREATE DATABASE [DSS_update]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DSS_update', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.GERBUT\MSSQL\DATA\DSS_update.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DSS_update_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.GERBUT\MSSQL\DATA\DSS_update_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSS_update].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSS_update]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[ActivityID] [int] IDENTITY(1,1) NOT NULL,
	[ParentActivityID] [int] NOT NULL,
	[ActivityDescription] [nchar](200) NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ActivityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[ConfirmedEmail] [bit] NOT NULL,
	[LastName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[DateRegister] [datetime] NOT NULL,
	[Role] [nvarchar](max) NULL,
	[Region] [int] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Care_Community] [int] NOT NULL,
	[Position] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssistedLivingInspections]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssistedLivingInspections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CareComName] [int] NULL,
	[Date] [datetime] NULL,
	[InspectComplaint] [nvarchar](255) NULL,
	[InspectTypeReason] [nvarchar](255) NULL,
	[NoFinding] [bit] NULL,
	[AssistLivReg] [nvarchar](255) NULL,
	[AssistLivAct] [nvarchar](255) NULL,
	[ActOrReg] [nvarchar](255) NULL,
	[SubActOrReg] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[BriefDescOfFinding] [nvarchar](255) NULL,
	[ActionPlan] [nvarchar](255) NULL,
	[Responsibility] [nvarchar](255) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BC_Assisted_Living_Reportable_Incidents]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BC_Assisted_Living_Reportable_Incidents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameCareCommu] [int] NULL,
	[DateIncident] [datetime] NULL,
	[IncidentType] [nvarchar](50) NULL,
	[BriefDescrincident] [nvarchar](50) NULL,
	[BriefDescrTaken] [nvarchar](50) NULL,
	[Notifications] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BC_LTC_Reportable_Incidents]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BC_LTC_Reportable_Incidents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CareCommName] [int] NULL,
	[DateIncident] [datetime] NULL,
	[IncidentType] [nvarchar](50) NULL,
	[BriefDescIncid] [nvarchar](50) NULL,
	[BriefDescTaken] [nvarchar](50) NULL,
	[Notifications] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Care_Community]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Care_Community](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [text] NOT NULL,
 CONSTRAINT [PK_Care_Community] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CI_Category_Type]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CI_Category_Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Community_Risks]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Community_Risks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Location] [int] NULL,
	[Type_Of_Risk] [nvarchar](50) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Potential_Risk] [nvarchar](max) NULL,
	[MOH_Visit] [nvarchar](max) NULL,
	[Risk_Legal_Action] [nvarchar](max) NULL,
	[Hot_Alert] [nvarchar](max) NULL,
	[Status_Update] [nvarchar](max) NULL,
	[Resolved] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateReceived] [datetime] NULL,
	[Location] [int] NULL,
	[WritenOrVerbal] [nvarchar](50) NULL,
	[Receive_Directly] [nvarchar](50) NULL,
	[FromResident] [nvarchar](50) NULL,
	[ResidentName] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[HomeArea] [nvarchar](250) NULL,
	[BriefDescription] [nvarchar](50) NULL,
	[IsAdministration] [bit] NULL,
	[CareServices] [bit] NULL,
	[PalliativeCare] [bit] NULL,
	[Dietary] [bit] NULL,
	[Housekeeping] [bit] NULL,
	[Laundry] [bit] NULL,
	[Maintenance] [bit] NULL,
	[Programs] [bit] NULL,
	[Admissions] [bit] NULL,
	[Physician] [bit] NULL,
	[Other] [bit] NULL,
	[MOHLTCNotified] [nvarchar](50) NULL,
	[CopyToVP] [nvarchar](50) NULL,
	[ResponseSent] [nvarchar](50) NULL,
	[ActionToken] [nvarchar](50) NULL,
	[Resolved] [nvarchar](50) NULL,
	[MinistryVisit] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Critical_Incidents]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Critical_Incidents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[CI_Form_Number] [nvarchar](50) NULL,
	[CI_Category_Type] [int] NULL,
	[Location] [int] NULL,
	[Brief_Description] [nvarchar](max) NULL,
	[MOH_Notified] [nvarchar](50) NULL,
	[Police_Notified] [nvarchar](50) NULL,
	[POAS_Notified] [nvarchar](50) NULL,
	[Care_Plan_Updated] [nvarchar](50) NULL,
	[Quality_Improvement_Actions] [nvarchar](max) NULL,
	[MOHLTC_Follow_Up] [nvarchar](max) NULL,
	[CIS_Initiated] [nvarchar](50) NULL,
	[Follow_Up_Amendments] [nvarchar](50) NULL,
	[Risk_Locked] [nvarchar](50) NULL,
	[File_Complete] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Session_Name] [nvarchar](150) NULL,
	[Location] [int] NULL,
	[Jan] [int] NULL,
	[Feb] [int] NULL,
	[Mar] [int] NULL,
	[Apr] [int] NULL,
	[May] [int] NULL,
	[Jun] [int] NULL,
	[Jul] [int] NULL,
	[Aug] [int] NULL,
	[Sep] [int] NULL,
	[Oct] [int] NULL,
	[Nov] [int] NULL,
	[Dec] [int] NULL,
	[Total_Numb_Educ] [int] NULL,
	[Total_Numb_Eligible] [int] NULL,
	[Approx_Per_Educated] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educations]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateStart] [datetime] NULL,
	[Session_Name] [nvarchar](150) NULL,
	[Location] [int] NULL,
	[Jan] [int] NULL,
	[Feb] [int] NULL,
	[Mar] [int] NULL,
	[Apr] [int] NULL,
	[May] [int] NULL,
	[Jun] [int] NULL,
	[Jul] [int] NULL,
	[Aug] [int] NULL,
	[Sep] [int] NULL,
	[Oct] [int] NULL,
	[Nov] [int] NULL,
	[Dec] [int] NULL,
	[Total_Numb_Educ] [int] NULL,
	[Total_Numb_Eligible] [int] NULL,
	[Approx_Per_Educated] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emergency_Prep]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emergency_Prep](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [int] NULL,
	[Code] [nvarchar](50) NULL,
	[Exercise] [nvarchar](50) NULL,
	[Method] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nvarchar](50) NULL,
	[Last_Name] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](50) NULL,
	[Salary] [int] NULL,
	[Position] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees1]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees1](
	[EmployeeID] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[Title] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Good_News]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Good_News](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [int] NULL,
	[DateNews] [datetime] NULL,
	[Category] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[SourceCompliment] [nvarchar](50) NULL,
	[ReceivedFrom] [nvarchar](50) NULL,
	[Description_Complim] [nvarchar](max) NULL,
	[Respect] [bit] NULL,
	[Passion] [bit] NULL,
	[Teamwork] [bit] NULL,
	[Responsibility] [bit] NULL,
	[Growth] [bit] NULL,
	[Compliment] [nvarchar](max) NULL,
	[Spot_Awards] [nvarchar](max) NULL,
	[Awards_Details] [nvarchar](max) NULL,
	[NameAwards] [nvarchar](max) NULL,
	[Awards_Received] [nvarchar](150) NULL,
	[Community_Inititives] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Homes]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Homes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Home_ID] [varchar](50) NULL,
	[Home_Name] [varchar](50) NULL,
	[Full_Home_Name] [varchar](50) NULL,
	[Care_Type] [varchar](50) NULL,
	[Current_VPRO] [varchar](50) NULL,
	[ED_GM] [varchar](50) NULL,
	[ED_GM_Email_Address] [varchar](50) NULL,
	[Previous_VPRO] [varchar](50) NULL,
 CONSTRAINT [PK_Homes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Immunizations]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Immunizations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [int] NULL,
	[Numb_Res_Comm] [nvarchar](350) NULL,
	[Numb_Res_Immun] [nvarchar](350) NULL,
	[Numb_Res_Not_Immun] [nvarchar](350) NULL,
	[Per_Res_Immun] [nvarchar](350) NULL,
	[Per_Res_Not_Immun] [nvarchar](350) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InspectionInfos]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectionInfos](
	[Id] [int] NOT NULL,
	[InspectNumber] [float] NULL,
	[ReportDate] [datetime] NULL,
	[LastDate] [datetime] NULL,
	[NoFindings] [bit] NULL,
	[HomeId] [int] NULL,
	[TypeId] [int] NULL,
	[NonCompliance] [nvarchar](50) NULL,
	[LTCHAReg] [nvarchar](50) NULL,
	[Section] [nvarchar](50) NULL,
	[Subsection] [nvarchar](50) NULL,
	[OtherOptionAsNeeded] [nvarchar](50) NULL,
	[DirectorReferral] [bit] NULL,
	[ClearedByInspectionNo] [nvarchar](50) NULL,
	[Intermediate1] [nvarchar](50) NULL,
	[Intermediate2] [nvarchar](50) NULL,
	[Intermediate3] [nvarchar](50) NULL,
	[Responsibility1] [nvarchar](50) NULL,
	[Responsibility2] [nvarchar](50) NULL,
	[Responsibility3] [nvarchar](50) NULL,
	[TargetDate1] [datetime] NULL,
	[TargetDate2] [datetime] NULL,
	[TargetDate3] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InspectTypes]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Labour_Relations]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labour_Relations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Union] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[Location] [int] NULL,
	[Details] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[Accruals] [varchar](3) NULL,
	[Outcome] [nvarchar](50) NULL,
	[Lessons_Learned] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicensingInspections]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicensingInspections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CareComName] [int] NULL,
	[Date] [datetime] NULL,
	[InspectComplaint ] [nvarchar](255) NULL,
	[InspectTypeReason] [nvarchar](255) NULL,
	[NoFinding] [bit] NULL,
	[Contraventions] [nvarchar](255) NULL,
	[ResidentCareRegSec] [nvarchar](255) NULL,
	[ResidentCareRegSub] [nvarchar](255) NULL,
	[BriefDescription ] [nvarchar](255) NULL,
	[ActionPlan] [nvarchar](255) NULL,
	[Responsibility] [nvarchar](255) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LTCHARegs]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LTCHARegs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOH_Inspections]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOH_Inspections](
	[Inspection_Number] [nvarchar](50) NULL,
	[Report_Date] [date] NULL,
	[Type_Inspection] [nvarchar](50) NULL,
	[Last_Date_Inspection] [date] NULL,
	[Home] [nvarchar](50) NULL,
	[No_Findings] [binary](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NonCompleances]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NonCompleances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Not_WSIBs]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Not_WSIBs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date_of_Incident] [datetime] NULL,
	[Employee_Initials] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
	[Location] [int] NULL,
	[Time_of_Incident] [nvarchar](50) NULL,
	[Shift] [nvarchar](50) NULL,
	[Home_Area] [nvarchar](50) NULL,
	[Injury_Related] [nvarchar](50) NULL,
	[Type_of_Injury] [nvarchar](50) NULL,
	[Details_of_Incident] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] NOT NULL,
	[OrderID] [int] NULL,
	[EmployeeID] [int] NULL,
	[ShipName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Other]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Other](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [int] NULL,
	[Date] [datetime] NULL,
	[Inspected_By] [nvarchar](50) NULL,
	[Inspection_Number] [nvarchar](250) NULL,
	[Number_of_Violations] [nvarchar](250) NULL,
	[Notes_Comments] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtherOptions]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtherOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[SubsectionId] [int] NULL,
 CONSTRAINT [PK_OtherOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outbreaks]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outbreaks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date_Declared] [date] NULL,
	[Date_Concluded] [date] NULL,
	[Type_of_Outbreak] [nvarchar](max) NULL,
	[Total_Days_Closed] [int] NULL,
	[Total_Residents_Affected] [int] NULL,
	[Total_Staff_Affected] [int] NULL,
	[Location] [int] NULL,
	[Strain_Identified] [nvarchar](max) NULL,
	[Deaths_Due] [int] NULL,
	[CI_Report_Submitted] [nvarchar](50) NULL,
	[Notify_MOL] [nvarchar](50) NULL,
	[Credit_for_Lost_Days] [int] NULL,
	[LHIN_Letter_Received] [nvarchar](50) NULL,
	[PH_Letter_Received] [nvarchar](50) NULL,
	[Tracking_Sheet_Completed] [nvarchar](50) NULL,
	[Docs_Submitted_Finance] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Privacy_Breaches]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privacy_Breaches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[Date_Breach_Occurred] [date] NULL,
	[Date_Breach_Reported] [date] NULL,
	[Date_Breach_Reported_By] [nvarchar](max) NULL,
	[Type_of_Breach] [nvarchar](max) NULL,
	[Type_of_PHI_Involved] [nvarchar](max) NULL,
	[Number_of_Individuals_Affected] [int] NULL,
	[Description_Outcome] [nvarchar](max) NULL,
	[Risk_Level] [nvarchar](max) NULL,
 CONSTRAINT [PK_Privacy_Breaches] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Privacy_Complaints]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privacy_Complaints](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[Date_Complain_Received] [date] NULL,
	[Complain_Filed_By] [nvarchar](max) NULL,
	[Type_of_Complaint] [nvarchar](max) NULL,
	[Is_Complaint_Resolved] [nvarchar](50) NULL,
	[Description_Outcome] [nvarchar](max) NULL,
 CONSTRAINT [PK_Privacy_Complaints] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualityReviews]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualityReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CareComName] [int] NULL,
	[Date] [datetime] NULL,
	[Outcomes] [nvarchar](255) NULL,
	[BriefDescFind] [nvarchar](255) NULL,
	[BriefDescRecommend] [nvarchar](255) NULL,
	[Actions] [nvarchar](255) NULL,
	[Responsibility] [nvarchar](255) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Search_Word]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Search_Word](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Word] [text] NULL,
	[CustomersWord] [text] NULL,
	[FileName] [text] NULL,
 CONSTRAINT [PK_Search_Word] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LTCHARegId] [int] NULL,
 CONSTRAINT [PK__Sections__3214EC077F495BD7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subsection]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subsection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[SectionId] [int] NULL,
 CONSTRAINT [PK_Subsection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subsections]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subsections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[SectionId] [int] NULL,
 CONSTRAINT [PK_Subsections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits_Agency]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits_Agency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[date_of_visit] [datetime] NULL,
	[location] [int] NULL,
	[agency] [nvarchar](50) NULL,
	[findings_number] [nchar](10) NULL,
	[findings_details] [text] NULL,
	[corrective_actions] [text] NULL,
	[report_posted] [nchar](3) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits_Others]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits_Others](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date_of_Visit] [datetime] NULL,
	[Agency] [nvarchar](max) NULL,
	[Number_of_Findings] [nvarchar](50) NULL,
	[Location] [int] NULL,
	[Details_of_Findings] [text] NULL,
	[Corrective_Actions] [text] NULL,
	[Report_Posted] [nvarchar](50) NULL,
	[LHIN_Letter_Received] [nvarchar](50) NULL,
	[PH_Letter_Received] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkshopBCInspections]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkshopBCInspections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CareComName] [int] NULL,
	[Date] [datetime] NULL,
	[InspecteReport] [nvarchar](255) NULL,
	[ScopeOfInspectiont] [nvarchar](255) NULL,
	[NoOrders] [bit] NULL,
	[Orders] [nvarchar](255) NULL,
	[BriefDescFind] [nvarchar](255) NULL,
	[ActionPlan] [nvarchar](255) NULL,
	[Responsibility] [nvarchar](255) NULL,
	[ActionDate] [datetime] NULL,
	[StatusOfTheOrder] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WSIBs]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WSIBs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date_Accident] [date] NULL,
	[Location] [int] NULL,
	[Employee_Initials] [nvarchar](50) NULL,
	[Accident_Cause] [nvarchar](50) NULL,
	[Date_Duties] [date] NULL,
	[Date_Regular] [date] NULL,
	[Lost_Days] [int] NULL,
	[Modified_Days_Not_Shadowed] [int] NULL,
	[Modified_Days_Shadowed] [int] NULL,
	[Form_7] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZTest]    Script Date: 11.01.2022 14:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZTest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Date_Creation] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([ActivityID], [ParentActivityID], [ActivityDescription], [StartDateTime], [EndDateTime]) VALUES (1, 0, N'Critical Incidents                                                                                                                                                                                      ', CAST(N'2016-03-14T00:00:00.000' AS DateTime), CAST(N'2016-03-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Activities] ([ActivityID], [ParentActivityID], [ActivityDescription], [StartDateTime], [EndDateTime]) VALUES (2, 0, N'Complaints                                                                                                                                                                                              ', CAST(N'2016-03-14T00:00:00.000' AS DateTime), CAST(N'2016-03-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Activities] ([ActivityID], [ParentActivityID], [ActivityDescription], [StartDateTime], [EndDateTime]) VALUES (3, 0, N'Good News                                                                                                                                                                                               ', CAST(N'2016-03-15T00:00:00.000' AS DateTime), CAST(N'2016-03-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
SET IDENTITY_INSERT [dbo].[AssistedLivingInspections] ON 

INSERT [dbo].[AssistedLivingInspections] ([Id], [CareComName], [Date], [InspectComplaint], [InspectTypeReason], [NoFinding], [AssistLivReg], [AssistLivAct], [ActOrReg], [SubActOrReg], [Category], [BriefDescOfFinding], [ActionPlan], [Responsibility], [ActionDate]) VALUES (7, 1, CAST(N'2021-11-23T00:00:00.000' AS DateTime), NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-11-23T00:00:00.000' AS DateTime))
INSERT [dbo].[AssistedLivingInspections] ([Id], [CareComName], [Date], [InspectComplaint], [InspectTypeReason], [NoFinding], [AssistLivReg], [AssistLivAct], [ActOrReg], [SubActOrReg], [Category], [BriefDescOfFinding], [ActionPlan], [Responsibility], [ActionDate]) VALUES (10, 1, CAST(N'2021-11-30T00:00:00.000' AS DateTime), NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, N',,', NULL, CAST(N'2021-11-30T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[AssistedLivingInspections] OFF
GO
SET IDENTITY_INSERT [dbo].[BC_Assisted_Living_Reportable_Incidents] ON 

INSERT [dbo].[BC_Assisted_Living_Reportable_Incidents] ([Id], [NameCareCommu], [DateIncident], [IncidentType], [BriefDescrincident], [BriefDescrTaken], [Notifications]) VALUES (13, 1, CAST(N'2021-11-21T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[BC_Assisted_Living_Reportable_Incidents] ([Id], [NameCareCommu], [DateIncident], [IncidentType], [BriefDescrincident], [BriefDescrTaken], [Notifications]) VALUES (14, 1, CAST(N'2021-11-25T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BC_Assisted_Living_Reportable_Incidents] OFF
GO
SET IDENTITY_INSERT [dbo].[BC_LTC_Reportable_Incidents] ON 

INSERT [dbo].[BC_LTC_Reportable_Incidents] ([Id], [CareCommName], [DateIncident], [IncidentType], [BriefDescIncid], [BriefDescTaken], [Notifications]) VALUES (7, 1, CAST(N'2021-11-21T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[BC_LTC_Reportable_Incidents] ([Id], [CareCommName], [DateIncident], [IncidentType], [BriefDescIncid], [BriefDescTaken], [Notifications]) VALUES (8, 1, CAST(N'2021-11-23T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BC_LTC_Reportable_Incidents] OFF
GO
SET IDENTITY_INSERT [dbo].[Care_Community] ON 

INSERT [dbo].[Care_Community] ([Id], [Name]) VALUES (1, N'Altamont Care Community
')
INSERT [dbo].[Care_Community] ([Id], [Name]) VALUES (2, N'Astoria Retirement Residence
')
INSERT [dbo].[Care_Community] ([Id], [Name]) VALUES (3, N'Barnswallow Place Care Community
')
SET IDENTITY_INSERT [dbo].[Care_Community] OFF
GO
SET IDENTITY_INSERT [dbo].[CI_Category_Type] ON 

INSERT [dbo].[CI_Category_Type] ([Id], [Name]) VALUES (1, N'Alleged/Actual Abuse/Assault')
INSERT [dbo].[CI_Category_Type] ([Id], [Name]) VALUES (2, N'Alleged/Actual Fraud/Theft')
INSERT [dbo].[CI_Category_Type] ([Id], [Name]) VALUES (3, N'Contamination of drinking water supply')
SET IDENTITY_INSERT [dbo].[CI_Category_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Community_Risks] ON 

INSERT [dbo].[Community_Risks] ([Id], [Date], [Location], [Type_Of_Risk], [Descriptions], [Potential_Risk], [MOH_Visit], [Risk_Legal_Action], [Hot_Alert], [Status_Update], [Resolved]) VALUES (27, CAST(N'2021-08-23T00:00:00.000' AS DateTime), 2, N'Environmental', N'dsadsa', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Community_Risks] ([Id], [Date], [Location], [Type_Of_Risk], [Descriptions], [Potential_Risk], [MOH_Visit], [Risk_Legal_Action], [Hot_Alert], [Status_Update], [Resolved]) VALUES (35, CAST(N'2021-09-20T00:00:00.000' AS DateTime), 1, N'Environmental', N'111', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Community_Risks] ([Id], [Date], [Location], [Type_Of_Risk], [Descriptions], [Potential_Risk], [MOH_Visit], [Risk_Legal_Action], [Hot_Alert], [Status_Update], [Resolved]) VALUES (14, CAST(N'2021-08-24T00:00:00.000' AS DateTime), 3, N'Legal', N'test102', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Community_Risks] OFF
GO
SET IDENTITY_INSERT [dbo].[Complaints] ON 

SET IDENTITY_INSERT [dbo].[Complaints] OFF
GO
SET IDENTITY_INSERT [dbo].[Critical_Incidents] ON 

INSERT [dbo].[Critical_Incidents] ([id], [Date], [CI_Form_Number], [CI_Category_Type], [Location], [Brief_Description], [MOH_Notified], [Police_Notified], [POAS_Notified], [Care_Plan_Updated], [Quality_Improvement_Actions], [MOHLTC_Follow_Up], [CIS_Initiated], [Follow_Up_Amendments], [Risk_Locked], [File_Complete]) VALUES (180, CAST(N'2021-11-20T00:00:00.000' AS DateTime), N'231123TEST', 15, 1, N'4444', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Critical_Incidents] ([id], [Date], [CI_Form_Number], [CI_Category_Type], [Location], [Brief_Description], [MOH_Notified], [Police_Notified], [POAS_Notified], [Care_Plan_Updated], [Quality_Improvement_Actions], [MOHLTC_Follow_Up], [CIS_Initiated], [Follow_Up_Amendments], [Risk_Locked], [File_Complete]) VALUES (113, CAST(N'2021-09-14T00:00:00.000' AS DateTime), N'231123TEST', 17, 44, N'1111111111', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Critical_Incidents] ([id], [Date], [CI_Form_Number], [CI_Category_Type], [Location], [Brief_Description], [MOH_Notified], [Police_Notified], [POAS_Notified], [Care_Plan_Updated], [Quality_Improvement_Actions], [MOHLTC_Follow_Up], [CIS_Initiated], [Follow_Up_Amendments], [Risk_Locked], [File_Complete]) VALUES (170, CAST(N'2021-09-14T00:00:00.000' AS DateTime), N'we1111111', 1, 4, N'666', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Critical_Incidents] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name]) VALUES (1, N'Nursing
')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (2, N'Nursing Admin
')
INSERT [dbo].[Departments] ([Id], [Name]) VALUES (3, N'Admin
')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Education] ON 

INSERT [dbo].[Education] ([Id], [Session_Name], [Location], [Jan], [Feb], [Mar], [Apr], [May], [Jun], [Jul], [Aug], [Sep], [Oct], [Nov], [Dec], [Total_Numb_Educ], [Total_Numb_Eligible], [Approx_Per_Educated]) VALUES (1, N'dfgdfg', 3, 1, 112, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2)
INSERT [dbo].[Education] ([Id], [Session_Name], [Location], [Jan], [Feb], [Mar], [Apr], [May], [Jun], [Jul], [Aug], [Sep], [Oct], [Nov], [Dec], [Total_Numb_Educ], [Total_Numb_Eligible], [Approx_Per_Educated]) VALUES (2, NULL, 2, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Education] OFF
GO
SET IDENTITY_INSERT [dbo].[Educations] ON 

INSERT [dbo].[Educations] ([Id], [DateStart], [Session_Name], [Location], [Jan], [Feb], [Mar], [Apr], [May], [Jun], [Jul], [Aug], [Sep], [Oct], [Nov], [Dec], [Total_Numb_Educ], [Total_Numb_Eligible], [Approx_Per_Educated]) VALUES (27, CAST(N'2021-09-23T00:00:00.000' AS DateTime), N'12345', 14, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Educations] ([Id], [DateStart], [Session_Name], [Location], [Jan], [Feb], [Mar], [Apr], [May], [Jun], [Jul], [Aug], [Sep], [Oct], [Nov], [Dec], [Total_Numb_Educ], [Total_Numb_Eligible], [Approx_Per_Educated]) VALUES (29, CAST(N'2021-09-10T08:47:01.643' AS DateTime), N'12345BBBBBBBBBBBBB', 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Educations] OFF
GO
SET IDENTITY_INSERT [dbo].[Emergency_Prep] ON 

INSERT [dbo].[Emergency_Prep] ([Id], [Location], [Code], [Exercise], [Method], [Date]) VALUES (37, 1, N'Red', N'Day', N'Table Top', CAST(N'2021-09-09T00:00:00.000' AS DateTime))
INSERT [dbo].[Emergency_Prep] ([Id], [Location], [Code], [Exercise], [Method], [Date]) VALUES (38, 1, N'Red', N'Evening', N'Actual', CAST(N'2021-10-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Emergency_Prep] ([Id], [Location], [Code], [Exercise], [Method], [Date]) VALUES (39, 9, N'Red', N'Night', N'Actual', CAST(N'2021-09-17T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Emergency_Prep] OFF
GO
SET IDENTITY_INSERT [dbo].[Good_News] ON 

INSERT [dbo].[Good_News] ([Id], [Location], [DateNews], [Category], [Department], [SourceCompliment], [ReceivedFrom], [Description_Complim], [Respect], [Passion], [Teamwork], [Responsibility], [Growth], [Compliment], [Spot_Awards], [Awards_Details], [NameAwards], [Awards_Received], [Community_Inititives]) VALUES (78, 16, CAST(N'2021-09-16T00:00:00.000' AS DateTime), NULL, N'Laundry', NULL, NULL, NULL, 0, 0, 0, 0, 0, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Good_News] ([Id], [Location], [DateNews], [Category], [Department], [SourceCompliment], [ReceivedFrom], [Description_Complim], [Respect], [Passion], [Teamwork], [Responsibility], [Growth], [Compliment], [Spot_Awards], [Awards_Details], [NameAwards], [Awards_Received], [Community_Inititives]) VALUES (86, 16, CAST(N'2021-10-29T00:00:00.000' AS DateTime), N'Good News', N'Dietary', N'Card', N'SSO', NULL, 0, 0, 0, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Good_News] ([Id], [Location], [DateNews], [Category], [Department], [SourceCompliment], [ReceivedFrom], [Description_Complim], [Respect], [Passion], [Teamwork], [Responsibility], [Growth], [Compliment], [Spot_Awards], [Awards_Details], [NameAwards], [Awards_Received], [Community_Inititives]) VALUES (87, 1, CAST(N'2021-10-22T00:00:00.000' AS DateTime), NULL, N'Foot care', N'Email', NULL, NULL, 0, 0, 0, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Good_News] OFF
GO
SET IDENTITY_INSERT [dbo].[Homes] ON 

INSERT [dbo].[Homes] ([Id], [Home_ID], [Home_Name], [Full_Home_Name], [Care_Type], [Current_VPRO], [ED_GM], [ED_GM_Email_Address], [Previous_VPRO]) VALUES (1, N'VG305', N'Altamont', N'Altamont Care Community', N'LTC', N'Patti Wright', N'Zahra Mawji', N'zahra.mawji@siennaliving.ca', N'')
INSERT [dbo].[Homes] ([Id], [Home_ID], [Home_Name], [Full_Home_Name], [Care_Type], [Current_VPRO], [ED_GM], [ED_GM_Email_Address], [Previous_VPRO]) VALUES (2, N'LW135', N'Barnswallow Place', N'Barnswallow Place Care Community', N'LTC', N'Kerri Judge', N'Catherine Schalk', N'catherine.schalk@siennaliving.ca', N'')
INSERT [dbo].[Homes] ([Id], [Home_ID], [Home_Name], [Full_Home_Name], [Care_Type], [Current_VPRO], [ED_GM], [ED_GM_Email_Address], [Previous_VPRO]) VALUES (3, N'RM350', N'Bloomington Cove', N'Bloomington Cove Care Community', N'LTC', N'Jennifer Powley', N'Janet Iwaszczenko', N'janet.iwaszczenko@siennaliving.ca', N'')
SET IDENTITY_INSERT [dbo].[Homes] OFF
GO
SET IDENTITY_INSERT [dbo].[Immunizations] ON 

INSERT [dbo].[Immunizations] ([Id], [Location], [Numb_Res_Comm], [Numb_Res_Immun], [Numb_Res_Not_Immun], [Per_Res_Immun], [Per_Res_Not_Immun]) VALUES (17, 1, N'230', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Immunizations] OFF
GO
SET IDENTITY_INSERT [dbo].[InspectTypes] ON 

INSERT [dbo].[InspectTypes] ([Id], [Name]) VALUES (1, N'Inpection  1')
INSERT [dbo].[InspectTypes] ([Id], [Name]) VALUES (2, N'Inpection  2')
INSERT [dbo].[InspectTypes] ([Id], [Name]) VALUES (3, N'Inpection  3')
SET IDENTITY_INSERT [dbo].[InspectTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Labour_Relations] ON 

INSERT [dbo].[Labour_Relations] ([Id], [Date], [Union], [Category], [Location], [Details], [Status], [Accruals], [Outcome], [Lessons_Learned]) VALUES (24, CAST(N'2021-09-18T00:00:00.000' AS DateTime), N'no', N'u765', 14, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Labour_Relations] ([Id], [Date], [Union], [Category], [Location], [Details], [Status], [Accruals], [Outcome], [Lessons_Learned]) VALUES (26, CAST(N'2021-09-10T00:00:00.000' AS DateTime), N'UUUP', NULL, 1, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Labour_Relations] OFF
GO
SET IDENTITY_INSERT [dbo].[LicensingInspections] ON 

INSERT [dbo].[LicensingInspections] ([Id], [CareComName], [Date], [InspectComplaint ], [InspectTypeReason], [NoFinding], [Contraventions], [ResidentCareRegSec], [ResidentCareRegSub], [BriefDescription ], [ActionPlan], [Responsibility], [ActionDate]) VALUES (6, 2, CAST(N'2021-11-11T00:00:00.000' AS DateTime), NULL, N'Complaint', 1, N'99', N'vzvzxvzvzx', N'vzxvzxvzxv', N'A11111111111111111111', N'UPD', N'asdfghjk', CAST(N'2021-11-11T00:00:00.000' AS DateTime))
INSERT [dbo].[LicensingInspections] ([Id], [CareComName], [Date], [InspectComplaint ], [InspectTypeReason], [NoFinding], [Contraventions], [ResidentCareRegSec], [ResidentCareRegSub], [BriefDescription ], [ActionPlan], [Responsibility], [ActionDate]) VALUES (15, 1, CAST(N'2021-11-25T00:00:00.000' AS DateTime), N'UPD9', NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-11-18T00:00:00.000' AS DateTime))
INSERT [dbo].[LicensingInspections] ([Id], [CareComName], [Date], [InspectComplaint ], [InspectTypeReason], [NoFinding], [Contraventions], [ResidentCareRegSec], [ResidentCareRegSub], [BriefDescription ], [ActionPlan], [Responsibility], [ActionDate]) VALUES (24, 1, CAST(N'2021-11-12T00:00:00.000' AS DateTime), NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-11-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LicensingInspections] OFF
GO
SET IDENTITY_INSERT [dbo].[LTCHARegs] ON 

INSERT [dbo].[LTCHARegs] ([Id], [Name]) VALUES (1, N'LTCHA 1')
INSERT [dbo].[LTCHARegs] ([Id], [Name]) VALUES (2, N'LTCHA 2')
INSERT [dbo].[LTCHARegs] ([Id], [Name]) VALUES (3, N'LTCHA 3')
SET IDENTITY_INSERT [dbo].[LTCHARegs] OFF
GO
SET IDENTITY_INSERT [dbo].[NonCompleances] ON 

INSERT [dbo].[NonCompleances] ([Id], [Name]) VALUES (1, N'Non Complience  1 ')
INSERT [dbo].[NonCompleances] ([Id], [Name]) VALUES (2, N'Non Complience 2')
INSERT [dbo].[NonCompleances] ([Id], [Name]) VALUES (3, N'Non Complience 3')
SET IDENTITY_INSERT [dbo].[NonCompleances] OFF
GO
SET IDENTITY_INSERT [dbo].[Not_WSIBs] ON 

INSERT [dbo].[Not_WSIBs] ([Id], [Date_of_Incident], [Employee_Initials], [Position], [Location], [Time_of_Incident], [Shift], [Home_Area], [Injury_Related], [Type_of_Injury], [Details_of_Incident]) VALUES (22, CAST(N'2021-09-10T00:00:00.000' AS DateTime), N'DT', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Not_WSIBs] OFF
GO
SET IDENTITY_INSERT [dbo].[Other] ON 

INSERT [dbo].[Other] ([Id], [Location], [Date], [Inspected_By], [Inspection_Number], [Number_of_Violations], [Notes_Comments]) VALUES (4, 1, CAST(N'2021-09-24T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Other] OFF
GO
SET IDENTITY_INSERT [dbo].[Outbreaks] ON 

INSERT [dbo].[Outbreaks] ([Id], [Date_Declared], [Date_Concluded], [Type_of_Outbreak], [Total_Days_Closed], [Total_Residents_Affected], [Total_Staff_Affected], [Location], [Strain_Identified], [Deaths_Due], [CI_Report_Submitted], [Notify_MOL], [Credit_for_Lost_Days], [LHIN_Letter_Received], [PH_Letter_Received], [Tracking_Sheet_Completed], [Docs_Submitted_Finance]) VALUES (67, CAST(N'2021-09-17' AS Date), CAST(N'2021-09-11' AS Date), N'Other', 0, 0, 0, 2, NULL, 0, NULL, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Outbreaks] ([Id], [Date_Declared], [Date_Concluded], [Type_of_Outbreak], [Total_Days_Closed], [Total_Residents_Affected], [Total_Staff_Affected], [Location], [Strain_Identified], [Deaths_Due], [CI_Report_Submitted], [Notify_MOL], [Credit_for_Lost_Days], [LHIN_Letter_Received], [PH_Letter_Received], [Tracking_Sheet_Completed], [Docs_Submitted_Finance]) VALUES (70, CAST(N'2021-11-23' AS Date), CAST(N'2021-11-23' AS Date), NULL, 0, 0, 0, 1, NULL, 0, NULL, NULL, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Outbreaks] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([Id], [Name]) VALUES (1, N'Executive Director')
INSERT [dbo].[Positions] ([Id], [Name]) VALUES (2, N'Registered Nurse')
INSERT [dbo].[Positions] ([Id], [Name]) VALUES (3, N'Office Manager')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[Privacy_Breaches] ON 

INSERT [dbo].[Privacy_Breaches] ([id], [Location], [Status], [Date_Breach_Occurred], [Date_Breach_Reported], [Date_Breach_Reported_By], [Type_of_Breach], [Type_of_PHI_Involved], [Number_of_Individuals_Affected], [Description_Outcome], [Risk_Level]) VALUES (27, 1, N'AAAAAAAAAaaa', CAST(N'2021-09-20' AS Date), CAST(N'2021-09-20' AS Date), NULL, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[Privacy_Breaches] ([id], [Location], [Status], [Date_Breach_Occurred], [Date_Breach_Reported], [Date_Breach_Reported_By], [Type_of_Breach], [Type_of_PHI_Involved], [Number_of_Individuals_Affected], [Description_Outcome], [Risk_Level]) VALUES (28, 1, N'AAAAAAAAAaaa', CAST(N'2021-11-20' AS Date), CAST(N'2021-11-20' AS Date), NULL, NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Privacy_Breaches] OFF
GO
SET IDENTITY_INSERT [dbo].[Privacy_Complaints] ON 

INSERT [dbo].[Privacy_Complaints] ([id], [Location], [Status], [Date_Complain_Received], [Complain_Filed_By], [Type_of_Complaint], [Is_Complaint_Resolved], [Description_Outcome]) VALUES (29, 1, N'AAAAAAAAAaaa', CAST(N'2021-09-10' AS Date), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Privacy_Complaints] OFF
GO
SET IDENTITY_INSERT [dbo].[QualityReviews] ON 

INSERT [dbo].[QualityReviews] ([Id], [CareComName], [Date], [Outcomes], [BriefDescFind], [BriefDescRecommend], [Actions], [Responsibility], [ActionDate]) VALUES (10, 1, CAST(N'2021-11-23T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, CAST(N'2021-11-23T00:00:00.000' AS DateTime))
INSERT [dbo].[QualityReviews] ([Id], [CareComName], [Date], [Outcomes], [BriefDescFind], [BriefDescRecommend], [Actions], [Responsibility], [ActionDate]) VALUES (11, 1, CAST(N'2021-11-25T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, CAST(N'2021-11-25T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[QualityReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Search_Word] ON 

INSERT [dbo].[Search_Word] ([Id], [Word], [CustomersWord], [FileName]) VALUES (1, N'Kind', NULL, NULL)
INSERT [dbo].[Search_Word] ([Id], [Word], [CustomersWord], [FileName]) VALUES (2, N'Street', NULL, NULL)
INSERT [dbo].[Search_Word] ([Id], [Word], [CustomersWord], [FileName]) VALUES (3, N'WN', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Search_Word] OFF
GO
SET IDENTITY_INSERT [dbo].[Sections] ON 

INSERT [dbo].[Sections] ([Id], [Name], [LTCHARegId]) VALUES (1, N'Section 1', 1)
INSERT [dbo].[Sections] ([Id], [Name], [LTCHARegId]) VALUES (2, N'Section 2', 2)
INSERT [dbo].[Sections] ([Id], [Name], [LTCHARegId]) VALUES (3, N'Section 3', 1)
SET IDENTITY_INSERT [dbo].[Sections] OFF
GO
SET IDENTITY_INSERT [dbo].[Subsection] ON 

INSERT [dbo].[Subsection] ([Id], [Name], [SectionId]) VALUES (1, N'Subsection 1', 1)
INSERT [dbo].[Subsection] ([Id], [Name], [SectionId]) VALUES (2, N'Subsection 2', 1)
INSERT [dbo].[Subsection] ([Id], [Name], [SectionId]) VALUES (3, N'Subsection 3', 1)
SET IDENTITY_INSERT [dbo].[Subsection] OFF
GO
SET IDENTITY_INSERT [dbo].[Visits_Others] ON 

INSERT [dbo].[Visits_Others] ([Id], [Date_of_Visit], [Agency], [Number_of_Findings], [Location], [Details_of_Findings], [Corrective_Actions], [Report_Posted], [LHIN_Letter_Received], [PH_Letter_Received]) VALUES (5, CAST(N'2021-04-28T00:00:00.000' AS DateTime), N'Public Health', N'6', 1, N'n/a updated', NULL, NULL, NULL, NULL)
INSERT [dbo].[Visits_Others] ([Id], [Date_of_Visit], [Agency], [Number_of_Findings], [Location], [Details_of_Findings], [Corrective_Actions], [Report_Posted], [LHIN_Letter_Received], [PH_Letter_Received]) VALUES (10, CAST(N'2021-03-11T00:00:00.000' AS DateTime), N'TSSA', N'1', 2, N'n/a updated', NULL, NULL, NULL, NULL)
INSERT [dbo].[Visits_Others] ([Id], [Date_of_Visit], [Agency], [Number_of_Findings], [Location], [Details_of_Findings], [Corrective_Actions], [Report_Posted], [LHIN_Letter_Received], [PH_Letter_Received]) VALUES (11, CAST(N'2021-03-24T00:00:00.000' AS DateTime), N'TSSA', N'1', 3, N'2', N'5', N'Yes', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Visits_Others] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkshopBCInspections] ON 

INSERT [dbo].[WorkshopBCInspections] ([Id], [CareComName], [Date], [InspecteReport], [ScopeOfInspectiont], [NoOrders], [Orders], [BriefDescFind], [ActionPlan], [Responsibility], [ActionDate], [StatusOfTheOrder]) VALUES (10, 1, CAST(N'2021-11-23T00:00:00.000' AS DateTime), NULL, NULL, 0, NULL, NULL, NULL, NULL, CAST(N'2021-11-23T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[WorkshopBCInspections] ([Id], [CareComName], [Date], [InspecteReport], [ScopeOfInspectiont], [NoOrders], [Orders], [BriefDescFind], [ActionPlan], [Responsibility], [ActionDate], [StatusOfTheOrder]) VALUES (11, 1, CAST(N'2021-11-21T00:00:00.000' AS DateTime), NULL, NULL, 0, NULL, NULL, NULL, NULL, CAST(N'2021-11-21T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[WorkshopBCInspections] OFF
GO
SET IDENTITY_INSERT [dbo].[WSIBs] ON 

INSERT [dbo].[WSIBs] ([Id], [Date_Accident], [Location], [Employee_Initials], [Accident_Cause], [Date_Duties], [Date_Regular], [Lost_Days], [Modified_Days_Not_Shadowed], [Modified_Days_Shadowed], [Form_7]) VALUES (2, CAST(N'2021-08-25' AS Date), 2, NULL, NULL, CAST(N'2021-08-26' AS Date), CAST(N'2021-08-12' AS Date), 2, 2, 4, N'111       ')
INSERT [dbo].[WSIBs] ([Id], [Date_Accident], [Location], [Employee_Initials], [Accident_Cause], [Date_Duties], [Date_Regular], [Lost_Days], [Modified_Days_Not_Shadowed], [Modified_Days_Shadowed], [Form_7]) VALUES (25, CAST(N'2021-08-29' AS Date), 4, NULL, NULL, CAST(N'2021-08-29' AS Date), CAST(N'2021-08-29' AS Date), 0, 0, 0, NULL)
INSERT [dbo].[WSIBs] ([Id], [Date_Accident], [Location], [Employee_Initials], [Accident_Cause], [Date_Duties], [Date_Regular], [Lost_Days], [Modified_Days_Not_Shadowed], [Modified_Days_Shadowed], [Form_7]) VALUES (35, CAST(N'2021-09-10' AS Date), 1, NULL, NULL, CAST(N'2021-09-10' AS Date), CAST(N'2021-09-10' AS Date), 0, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[WSIBs] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11.01.2022 14:44:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11.01.2022 14:44:23 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11.01.2022 14:44:23 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 11.01.2022 14:44:23 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11.01.2022 14:44:23 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11.01.2022 14:44:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Care_Community]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[InspectionInfos]  WITH CHECK ADD  CONSTRAINT [FK_InspectionInfos_Homes] FOREIGN KEY([HomeId])
REFERENCES [dbo].[Homes] ([Id])
GO
ALTER TABLE [dbo].[InspectionInfos] CHECK CONSTRAINT [FK_InspectionInfos_Homes]
GO
ALTER TABLE [dbo].[InspectionInfos]  WITH CHECK ADD  CONSTRAINT [FK_InspectionInfos_InspectTypes] FOREIGN KEY([TypeId])
REFERENCES [dbo].[InspectTypes] ([Id])
GO
ALTER TABLE [dbo].[InspectionInfos] CHECK CONSTRAINT [FK_InspectionInfos_InspectTypes]
GO
ALTER TABLE [dbo].[OtherOptions]  WITH CHECK ADD  CONSTRAINT [FK_OtherOptions_Subsection] FOREIGN KEY([SubsectionId])
REFERENCES [dbo].[Subsection] ([Id])
GO
ALTER TABLE [dbo].[OtherOptions] CHECK CONSTRAINT [FK_OtherOptions_Subsection]
GO
ALTER TABLE [dbo].[OtherOptions]  WITH CHECK ADD  CONSTRAINT [FK_OtherOptions_Subsections] FOREIGN KEY([SubsectionId])
REFERENCES [dbo].[Subsections] ([Id])
GO
ALTER TABLE [dbo].[OtherOptions] CHECK CONSTRAINT [FK_OtherOptions_Subsections]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_LTCHARegs] FOREIGN KEY([LTCHARegId])
REFERENCES [dbo].[LTCHARegs] ([Id])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_LTCHARegs]
GO
ALTER TABLE [dbo].[Subsection]  WITH CHECK ADD  CONSTRAINT [FK_Subsection_Sections] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[Subsection] CHECK CONSTRAINT [FK_Subsection_Sections]
GO
ALTER TABLE [dbo].[Subsections]  WITH CHECK ADD  CONSTRAINT [FK_Subsections_Sections] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[Subsections] CHECK CONSTRAINT [FK_Subsections_Sections]
GO
USE [master]
GO
